.user-nav {
  font-size: 20px;
  font-weight: bold;
  background-color: #166088;
  color: white;
  width: 100%;
  z-index: 4;
  position: fixed;
  height: 60px;
}
NavbarBrand {
  color: white;
}
.navbar-brand {
  margin-left: 10px;
  margin-right: auto;
  width: 40px;
}
.item-nav {
  color: white;
}
.logo {
  float: left;
  margin-left: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
}

.the-nav {
  flex-flow: row wrap;
}

.item-nav {
  margin-right: 12px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}
